<div class="row">
    <div class="co-md-12">
        <ul class="list px-3">
           <li>
               <a routerLink="fromEvent">fromEvent</a>
           </li> 
           <li>
            <a routerLink="interval">interval</a>
        </li> 
        <li>
            <a routerLink="timer">timer</a>
        </li> 
        <li>
            <a routerLink="of">of</a>
        </li> 
        <li>
            <a routerLink="from">from</a>
        </li> 
        <li>
            <a routerLink="toArray">toArray</a>
        </li> 
        <li>
            <a routerLink="custom">custom observable</a>
        </li> 
        </ul>
    </div>
</div>