<div class="my-3 px-3">
    <h2>OF</h2>
    <br>
    <strong>Example-01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
               <strong>Data:</strong> of('Chaman', 'Rahi', 'Sahil')
            </p>
            <hr>
            <ul id="elContainer">
                <!-- <li>Chaman</li>
                <li>Rahi</li>
                <li>Sahil</li> -->
            </ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
               <strong>Data:</strong> of(&#123;'Chaman', 'Rahi', 'Sahil'&#125;)
            </p>
            <hr>
            <ul id="elContainer">
                <li><strong>a: </strong>{{obsMsg.a}}</li>
                <li><strong>b: </strong>{{obsMsg.b}}</li>
                <li><strong>c: </strong>{{obsMsg.c}}</li>
            </ul>
        </div>
    </div>
</div>
